@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #FAEAD7;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.active{
    background-color: #F5C6AA;
    color: #F5C6AA;
}


    .list-disc::before {
        content: url("/svgviewer-output.svg");
        left: 10px;
        top: 5px;
        height: 4px;
        width: 4px;
      }
